<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbcon" value="Data Source=.;Initial Catalog=Staff;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
